<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TODO List</title>
</head>

<body>
    <h1>TODO List</h1>

    <form method="post" action="/todo">
        new Item:
        <input type="text" name="registered_item" th:value="${registered_item}" />
        <input type="submit" value="add" />
    </form>

    <form method="post" action="/tododelete">
        <table>
            <tr>
                <th class="td_btn">ID</a></th>
                <th class="td_btn">Date</a></th>
                <th class="td_btn">Item</a></th>
            </tr>
            <tr th:each="object:${todoList}" th:object="${object}">
                <td th:text="*{itemId}"></td>
                <td th:text="*{registerDate}"></td>
                <td th:text="*{todoItem}"></td>
                <td><button name="itemId" th:value="*{itemId}">delete</button></td>
            </tr>
        </table>
    </form>
</body>

</html>
